.config {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.save_btn {
  margin-top: 25px;
  width: 125px;
  margin-left: auto;
  margin-right: 75px;
  margin-bottom: 50px;
}