.header {
  display: flex;
  //margin-bottom: 30px;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin-top: -50px;
  //height: 600px;
  min-width: 1440px;
  display: flex;
  flex-direction: row;
}